

header{
    display: flex;
    justify-content: center;
}

#mainArea{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    background-color: pink;
}

#mainGrid{
    display: grid;
    grid-template-columns: 125px 125px 125px;
    grid-template-rows: 125px 125px 125px;
    border: 2px solid red;   
}

.gridItem{
    border: 3px solid green;
}

h1{
    padding: 0;
    margin: 0;
    margin-bottom: 10px;
}

#mainDialog{
    margin-top: 20vh;
}

#dialogHeading{
    justify-content: center;
    padding: 0;
    margin: 0;
}

#dialogInputs{
    display: grid;
    grid-template-columns: 130px 130px;
}

input{
    margin-bottom: 10px;
}